In [64]:
# 1. Import the pandas library with the pd alias
import pandas as pd
# 2. Check the version with the __version__ property
movies = pd.read_csv('wiki_movies.csv')
type(movies)

pandas.core.frame.DataFrame

In [56]:
len(movies)

34886

In [61]:
movies.columns

Index(['Release Year', 'Title', 'Origin/Ethnicity', 'Director', 'Cast',
       'Genre', 'Wiki Page', 'Plot'],
      dtype='object')

In [62]:
len(movies.columns)

8

In [63]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34886 entries, 0 to 34885
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Release Year      34886 non-null  int64
 1   Title             34886 non-null  object
 2   Origin/Ethnicity  34886 non-null  object
 3   Director          34886 non-null  object
 4   Cast              33464 non-null  object
 5   Genre             34886 non-null  object
 6   Wiki Page         34886 non-null  object
 7   Plot              34886 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.1+ MB

In [65]:
movie = movies[['Title','Director','Release Year']]
movie.tail(8)

                    Title                     Director  Release Year
34878    Mandıra Filozofu  Director: Müfit Can Saçıntı          2014
34879        Winter Sleep  Director: Nuri Bilge Ceylan          2014
34880               Sivas       Director: Kaan Müjdeci          2014
34881   The Water Diviner      Director: Russell Crowe          2014
34882  Çalgı Çengi İkimiz               Selçuk Aydemir          2017
34883        Olanlar Oldu                  Hakan Algül          2017
34884    Non-Transferable              Brendan Bradley          2017
34885  İstanbul Kırmızısı               Ferzan Özpetek          2017

In [66]:
length_to_exclude = len(movie) -8
movie.tail(-length_to_exclude)

                    Title                     Director  Release Year
34878    Mandıra Filozofu  Director: Müfit Can Saçıntı          2014
34879        Winter Sleep  Director: Nuri Bilge Ceylan          2014
34880               Sivas       Director: Kaan Müjdeci          2014
34881   The Water Diviner      Director: Russell Crowe          2014
34882  Çalgı Çengi İkimiz               Selçuk Aydemir          2017
34883        Olanlar Oldu                  Hakan Algül          2017
34884    Non-Transferable              Brendan Bradley          2017
34885  İstanbul Kırmızısı               Ferzan Özpetek          2017

In [69]:
movie.head(5)

,Title,Director,Release Year
0,Kansas Saloon Smashers,Unknown,1901
1,Love by the Light of the Moon,Unknown,1901
2,The Martyred Presidents,Unknown,1901
3,"Terrible Teddy, the Grizzly King",Unknown,1901
4,Jack and the Beanstalk,"George S. Fleming, Edwin S. Porter",1902

In [73]:
movie[:5]

,Title,Director,Release Year
0,Kansas Saloon Smashers,Unknown,1901
1,Love by the Light of the Moon,Unknown,1901
2,The Martyred Presidents,Unknown,1901
3,"Terrible Teddy, the Grizzly King",Unknown,1901
4,Jack and the Beanstalk,"George S. Fleming, Edwin S. Porter",1902

In [76]:
movies.Genre.value_counts().head()

unknown    6083
drama      5964
comedy     4379
horror     1167
action     1098
Name: Genre, dtype: int64

In [77]:
movies['Origin/Ethnicity'].value_counts()

American        17377
British          3670
Bollywood        2931
Tamil            2599
Telugu           1311
Japanese         1188
Malayalam        1095
Hong Kong         791
Canadian          723
Australian        576
South_Korean      522
Chinese           463
Kannada           444
Bengali           306
Russian           232
Marathi           141
Filipino          128
Bangladeshi        87
Punjabi            84
Malaysian          70
Turkish            70
Egyptian           67
Assamese            9
Maldivian           2
Name: Origin/Ethnicity, dtype: int64

In [78]:
movies.Title.value_counts().head()

Cinderella              8
The Three Musketeers    8
Treasure Island         7
Hero                    6
Alice in Wonderland     6
Name: Title, dtype: int64

In [79]:
movies['Release Year'].value_counts().head(1)

2013    1021
Name: Release Year, dtype: int64